# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
secret/**
venv/**
.idea/
/dagster/.logs_queue/
/dagster/.telemetry/
/dagster/.telemetry/
.env
.venv/

implnet_*.py
build/

test_*config.yaml
rclone.conf

tmp*/
storage/

rclone-current*.zip
rclone.zip

outputfile.nq
index.nq

.coverage
coverage.xml
htmlcov/

node_modules/

.tmp_dagster_home*/