# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
secret/**
venv/**
.idea/
/dagster/.logs_queue/
/dagster/.telemetry/
/dagster/.telemetry/
.env
.venv/

implnet_*.py
build/

test_*config.yaml
rclone.conf

tmp*/
storage/

rclone-current*.zip
rclone.zip

outputfile.nq
index.nq
geoconnex_graph.nq

.coverage
coverage.xml
htmlcov/

node_modules/

.tmp_dagster_home*/

# qlever indices
*index-log.txt
geoconnex.index*
geoconnex.internal*
geoconnex.vocabulary*
geoconnex.meta-data.json
geoconnex.settings.json
*.meta
geoconnex*log.txt
geoconnex.ui*
geoconnex_graph/
test.sh
*.bin

reference_catchments_and_flowlines.fgb