---
minio:
  address: {{ GLEANERIO_MINIO_ADDRESS }}
  port: {{ GLEANERIO_MINIO_PORT }}
  accessKey: {{ MINIO_ACCESS_KEY }}
  secretKey: {{ MINIO_SECRET_KEY }}
  ssl: {{ GLEANERIO_MINIO_USE_SSL }}
  bucket: {{ GLEANERIO_MINIO_BUCKET }}
  region: {{ GLEANERIO_MINIO_REGION }}
context:
  cache: true
  strict: true
contextmaps:
  - prefix: https://schema.org/
    file: /nabu/assets/schemaorg-current-https.jsonld
sparql:
  endpoint: {{ GLEANERIO_GRAPH_URL }}
  authenticate: false
  username: ""
  password: ""
  repository: iow
prefixes:
     summoned/providera
    - prov/providera
    - orgs
