{#
Copyright 2025 Lincoln Institute of Land Policy
SPDX-License-Identifier: Apache-2.0
#}

[lakefs]
type = s3
provider = Other
env_auth = false
access_key_id = {{ LAKEFS_ACCESS_KEY_ID}}
secret_access_key = {{ LAKEFS_SECRET_ACCESS_KEY}}
endpoint = {{ LAKEFS_ENDPOINT_URL }}
no_check_bucket = true

{% if RUNNING_AS_TEST_OR_DEV -%}
[s3]
type = s3
provider = Minio
env_auth = false
access_key_id = {{ MINIO_ACCESS_KEY }}
secret_access_key = {{ MINIO_SECRET_KEY }}
endpoint = http://{{ GLEANERIO_MINIO_ADDRESS }}:{{ GLEANERIO_MINIO_PORT }}
{%- else -%}
[s3]
type = s3
provider = GCS
env_auth = false
region   = {{ GLEANERIO_MINIO_REGION }}
access_key_id = {{ MINIO_ACCESS_KEY }}
secret_access_key = {{ MINIO_SECRET_KEY }}
endpoint = https://{{ GLEANERIO_MINIO_ADDRESS }}
{%- endif %}