{#
Copyright 2025 Lincoln Institute of Land Policy
SPDX-License-Identifier: Apache-2.0
#}

[lakefs]
type = s3
provider = Other
env_auth = false
access_key_id = {{ LAKEFS_ACCESS_KEY_ID}}
secret_access_key = {{ LAKEFS_SECRET_ACCESS_KEY}}
endpoint = {{ LAKEFS_ENDPOINT_URL }}
no_check_bucket = true

[s3]
type = s3
provider = Minio
env_auth = false
access_key_id = {{ S3_ACCESS_KEY }}
secret_access_key = {{ S3_SECRET_KEY }}
endpoint = http://{{ S3_ADDRESS }}:{{ S3_PORT }}

[gs]
type = google cloud storage
object_acl = projectPrivate
bucket_acl = publicReadWrite
location = {{ S3_REGION }}
env_auth = true
